{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<div class='container-fluid'>
    <div class='container-fluid'>
        <h2>User Profile: {{ username }}</h2>
        {% if user.is_authenticated and user.username != username %}
        <form action="{% url 'follow_unfollow' username%}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
            <input class="btn btn-primary" type="submit" value="{{ label }}">
        </form>
        {% endif %}
    </div>
    <div class='container'>
        <p>Followers: {{ followers }} Following: {{ following }}</p>
    </div>
    <div class='container'>
        {% for post in page_posts.object_list %}
            <div class="card mb-3">
                <div class="row no-gutters">
                <div class="col-md-8">
                    <div class="card-body">
                    <a class="card-author" href="{% url 'profile' post.author.username %}">{{ post.author }}<a>
                    <p class="card-content">{{ post.content }}</p>
                    <p class="card-datetime">{{ post.datetime }}</p>
                    </div>
                </div>
                </div>
            </div>
        {% empty %}
            No posts
        {% endfor %}
        <nav aria-label="Pagination">
            <ul class="pagination">
                {% if page_posts.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_posts.previous_page_number }}">Newer</a></li>
                {% endif %}
                {% if page_posts.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_posts.next_page_number }}">Older</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}